apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgresql
spec:
  selector:
    matchLabels:
      app: postgresql
  template:
    metadata:
      labels:
        app: postgresql
    spec:
      containers:
      - name: postgresql
        image: postgres:18.0
        ports:
        - name: http
          containerPort: 5432
          protocol: TCP
        env:
          - name: POSTGRES_DB
            value: kubedevnews
          - name: POSTGRES_USER
            value: kubedevnews
          - name: POSTGRES_PASSWORD
            value: Pg#123
---
apiVersion: v1
kind: Service
metadata:
  name: postgresql
spec:
  selector:
    app: postgresql
  ports:
  - name: http
    port: 5432
    targetPort: 5432
    protocol: TCP
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubenews
spec:
  replicas: 5
  selector:
    matchLabels:
      app: kubenews
  template:
    metadata:
      labels:
        app: kubenews
    spec:
      containers:
      - name: kubenews
        image: fagnerfgb/kubenews:v1
        ports:
        - name: http
          containerPort: 8080
          protocol: TCP
        env: 
          - name: DB_DATABASE
            value: kubedevnews
          - name: DB_USERNAME
            value: kubedevnews
          - name: DB_PASSWORD
            value: Pg#123
          - name: DB_HOST
            value: postgresql
---
apiVersion: v1
kind: Service
metadata:
  name: kubenews
spec:
  selector:
    app: kubenews
  ports:
  - name: http
    port: 80
    targetPort: 8080
    nodePort: 30000
  type: NodePort



