apiVersion: v1
kind: Secret
metadata:
  name: db-secret
type: Opaque
data:
  POSTGRES_DB: "a3ViZWRldm5ld3M="
  POSTGRES_USER: "a3ViZWRldm5ld3M="
  POSTGRES_PASSWORD: "UGcjMTIz"
---
apiVersion: v1
kind: Secret
metadata:
  name: app-secret
type: Opaque
data:
  DB_DATABASE: "a3ViZWRldm5ld3M="
  DB_USERNAME: "a3ViZWRldm5ld3M="
  DB_PASSWORD: "UGcjMTIz"
  DB_HOST: "cG9zdGdyZXNxbA=="
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgresql
spec:
  selector:
    matchLabels:
      app: postgresql
  template:
    metadata:
      labels:
        app: postgresql
    spec:
      containers:
      - name: postgresql
        image: postgres:18.0
        ports:
        - name: http
          containerPort: 5432
          protocol: TCP
        envFrom:
          - secretRef:
              name: db-secret
---
apiVersion: v1
kind: Service
metadata:
  name: postgresql
spec:
  selector:
    app: postgresql
  ports:
  - name: http
    port: 5432
    targetPort: 5432
    protocol: TCP
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubenews
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kubenews
  template:
    metadata:
      labels:
        app: kubenews
    spec:
      containers:
      - name: kubenews
        image: fagnerfgb/kubenews:v1
        ports:
        - name: http
          containerPort: 8080
          protocol: TCP
        envFrom:
          - secretRef:
              name: app-secret
---
apiVersion: v1
kind: Service
metadata:
  name: kubenews
spec:
  selector:
    app: kubenews
  ports:
  - name: http
    port: 80
    targetPort: 8080
    nodePort: 30000
  type: NodePort



